:root {
/*START OF PRIMARY COLORS*/
--primary-pale-blue : hsl(225, 100%, 94%);
--primary-bright-blue: hsl(245, 75%, 52%);
/*END OF PRIMARY COLORS*/

/*START OF NEUTRAL COLORS*/
--neutral-pale-blue: hsl(225, 100%, 98%);
--neutral-desaturated-blue: hsl(224, 23%, 55%);
--neutral-dark-blue: hsl(223, 47%, 23%);
/*END OF NEUTRAL COLORS*/

/*BODY FONTS AND WEIGHTS*/
--red-hat-size: 16px;
--red-hat-font: 'Red Hat Display', sans-serif;

--padding: 10px;
--margin: 10px;
}
h1 {
    text-align: center;
    font-weight: 900;
    line-height: 0.5;
    font-size: var(--red-hat-size);
}
.order {font-size: 28px; color: var(--neutral-dark-blue);}
p { font-size: 20px;
    font-weight: 500;
    opacity: 0.5;
}
body {
    font-family: var(--red-hat-font);
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--primary-pale-blue);
    font-size: var(--red-hat-size);
}

section {
    font-size: var(--red-hat-size);
}

.mainDivision {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    text-align: center;
}
.orderSumarryContainer {
    display: flex;
    height: 680px;
    width: 450px;
    border-radius: 20px;
    background-color: white;

}
.planSubscriptionInformation {
    padding: 10px;
    display: flex;
    margin: 25px;
    align-items: center;
    justify-content: center;
    background-color: var(--neutral-pale-blue);

}
.imageContainer {
    margin-bottom: 20px;
    background-color: black;
    height: 220px;
    width: 450px;
    border-radius: 20px 20px 0 0;
}
.imageHero {
    border-radius: 20px 20px 0 0;
}
.iconMusic {
    display: inline-block;
    margin: -10px 20px 0 0;
}
.payment {
    margin: auto;
    display: block;
    height: 50px;
    width: 250px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-family: var(--red-hat-font);
    font-weight: 900;
    font-size: 15px;
    background-color: var(--primary-bright-blue);
}
.cancelOrder {
    margin-top: 10px;
    margin: auto;
    display: block;
    height: 50px;
    width: 250px;
    border-radius: 10px;
    border: none;
    color: var(--neutral-dark-blue);
    font-family: var(--red-hat-font);
    font-weight: 900;
    font-size: 15px;
    opacity: 0.5;
    background-color: var(--neutral-pale-blue);
}


/* HOVER ANIMATIONS*/
.payment:hover {opacity: 0.5;}
.change:hover {opacity: 0.5;}
.cancelOrder:hover {opacity: 1;}
/* END OF HOVER ANIMATIONS*/


.hide {visibility: hidden;}
.plan { font-weight: 900;}
.price { font-size: var(--red-hat-size);}
.change {color: var(--primary-bright-blue) ;padding-left: 150px;}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }